* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.app {
    width: 800px;

}

.post {
    display: flex;
    padding: 15px;
    border: royalblue 2px solid;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}